@keyframes loadingRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  margin-left: auto;
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid #e5e5e5;
  border-top-color: aqua;
  border-radius: 50%;
  animation: loadingRotate 2s linear 0s infinite;
}
