.table-container {
  align-items: center;
  color: ghostwhite;
  width: 100%;
  border-collapse: collapse;

  &__table-title {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    position: relative;

    &__container-item {
      position: sticky;
      position: -webkit-sticky; /* Safari */
      top: -1px;
      z-index: 110;
      background-color: white;
      padding: 1rem 1rem;
      box-shadow: 0px 2px #eff2f5;

      @include respond(tab-port) {
        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 121;
        }
        &:nth-child(2) {
          position: sticky;
          left: 2rem;
          z-index: 120;
          min-width: 40rem;
        }
      }

      @include respond(phone) {
        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 121;
        }
        &:nth-child(2) {
          position: sticky;
          left: 6rem;
          z-index: 120;
          min-width: 25rem;
        }
      }

      &__content {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;

        &__item {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
        }

        &__item-text {
          white-space: nowrap;
        }
      }
    }
  }

  //TABLE BODY

  &__body {
    color: black;
    border-spacing: 0;
    box-sizing: border-box;

    &__row {
      font-size: 1.4rem;

      &:hover {
        background-color: #eff2f5d7;
      }
    }

    &__td {
      color: black;
      text-align: right;
      border-bottom: 1px solid #eff2f5;
      border-collapse: collapse;
      padding: 1.8rem 1rem;
      font-weight: 600;

      @include respond(tab-port) {
        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 101;
          background-color: white;
        }
        &:nth-child(2) {
          position: sticky;
          left: 2rem;
          z-index: 100;
          min-width: 40rem;
          background-color: white;
        }
      }

      @include respond(phone) {
        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 100;
        }
        &:nth-child(2) {
          position: sticky;
          left: 6rem;
          z-index: 100;
          min-width: 25rem;
        }
      }
    }

    &__td-red {
      color: #ea3943;
      text-align: right;
      border-bottom: 1px solid #eff2f5;
      border-collapse: collapse;
      padding: 1.8rem 1rem;
      font-weight: 600;
    }

    &__td-green {
      color: #16c784;
      text-align: right;
      border-bottom: 1px solid #eff2f5;
      border-collapse: collapse;
      padding: 1.8rem 1rem;
      font-weight: 600;
    }
  }
}
