/*
0 - 600px:  Phone
600 - 900px:    Tablet portrait
900 - 1200px:    Tablet landscape
(1200 - 1800) is where out normal styles apply
1800px + :  Big desktop

breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.container {
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center; }

.book-container {
  width: 120rem;
  height: 58rem;
  background-color: white; }

.header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  font-size: 3rem; }
  .header__icon {
    position: relative;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    transition: 0.5s ease all; }
    .header__icon:hover {
      cursor: pointer;
      background-color: ghostwhite;
      color: #333; }
  .header__container-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%; }
  .header__options {
    transition: 0.5s ease all;
    padding: 0.4rem;
    font-size: 1.5rem;
    color: #333; }
    .header__options:hover {
      background-color: #dfdfba; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
