/*
0 - 600px:  Phone
600 - 900px:    Tablet portrait
900 - 1200px:    Tablet landscape
(1200 - 1800) is where out normal styles apply
1800px + :  Big desktop

breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.book-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem; }

.header {
  height: 8%;
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  font-size: 3rem; }
  .header__icon {
    position: relative;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    transition: 0.5s ease all; }
    .header__icon:hover {
      cursor: pointer;
      background-color: ghostwhite;
      color: #333; }
  .header__container-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%; }
  .header__options {
    transition: 0.5s ease all;
    padding: 0.4rem;
    font-size: 1.5rem;
    color: #333; }
    .header__options:hover {
      background-color: #dfdfba; }

.table-container {
  align-items: center;
  color: ghostwhite;
  max-height: 92%;
  border-collapse: collapse; }
  .table-container__table-title {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    position: relative; }
    .table-container__table-title__container-item {
      position: sticky;
      position: -webkit-sticky;
      /* Safari */
      top: -1px;
      z-index: 100;
      background-color: white;
      padding: 1rem 1rem;
      box-shadow: 0px 2px #eff2f5; }
      .table-container__table-title__container-item__content {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end; }
        .table-container__table-title__container-item__content__item {
          display: flex;
          -webkit-box-align: center;
          align-items: center; }
        .table-container__table-title__container-item__content__item-text {
          white-space: nowrap; }
  .table-container__body {
    color: black;
    border-spacing: 0;
    box-sizing: border-box; }
    .table-container__body__row {
      font-size: 1.4rem; }
      .table-container__body__row:hover {
        background-color: #eff2f5d7; }
    .table-container__body__td {
      text-align: right;
      border-bottom: 1px solid #eff2f5;
      border-collapse: collapse;
      padding: 1.8rem 1rem;
      font-weight: 600; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif; }
